*{
    max-width: 100%;
}

.left-section{
    background: url(1.png) no-repeat;
background-size: cover;
width: 50%;
height: 120vh;
display:flex;
justify-content: center;
align-items: center;
	flex-direction:column;
}
.left-section h2{
    margin-top: 60px;
    text-align: center;
    font-family: Inter, semiBold;
	text-decoration: none;
    color:#878791
}
.left-section h2:hover{
    color: #D8DFEA;
}
.left-section .no-code{
    color: lightblue;
    text-align: center;
}

.bottom{
	margin-right: 430px;
	margin-top: 500px;
	width: 30px;
	height: 50px;
	background: #111f37;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	padding-top: 19px;
    margin-bottom: 1%;

}

.bottom-text{
	
    display: inline;
    margin-top: -45px;
    float: left;
    margin-right: 280px;
    
   
}

.view{
    color: #111f37;
    font-size: 13px;
    font-weight: 600;
  
}

.over{
	font-size: 20px;
	font-weight: 600;
	color: #111f37;
}
.view{
    margin-top: 30%;
   
}










.right-section{
    background:white;
}
.logo{
    margin-top: 10px;
}
.logo a{
    top: 31px;
	left: 1177px;
	width: 178px;
	height: 33px;
	text-align: left;
	letter-spacing: NaNpx;
	opacity: 1;
}
select{
    float: right;
	border-radius: 4px;
}
.dropdown.my{
    width: 12px;
	height: 12px;
	padding: 2px 3px 3px 3px;
	text-align: center;
	background: #e4b0ff;
	color:#fff;
	border: 1px solid #D3D2D2;
	border-radius: 50%;
	text-decoration: none;
}
.dropdown.ICON{
    padding-left: 10px;
	text-decoration: none;
	color: red;
}
.dropbtn {
    font-size: 16px;
    border: 1px solid #D3D2D2;
    cursor: pointer;
    border-radius: 4px;
    background: #fff;
      padding-top: 9px;
      padding-bottom: 9px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
  }
  .toggle-menu {
  display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .toggle-menu a {
      color: burlywood;
      background: #ffffff;
      padding: 2px 16px 35px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown:hover .toggle-menu{
    display: block;
  }
  .toggle-menu a:hover{
	background:wheat;
}
.toggle-menu a i{
	padding-right: 20px;
	width: 5px;
}
.mysite{
	display: inline-block;
	padding-top: 70px;
	color:rebeccapurple;
	font-weight: 500;
	font-size: 18px;
}
.btn{
	outline: none;
	border: transparent;
	background: #592caf;
	color: blanchedalmond;
	text-decoration: none;
	margin-left: 10px;
	padding-bottom: -35px;
	cursor: pointer;
}
.btn:hover{
	color: thistle;
}
.button{
    margin-top: 45px;
}
.first{
    border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding: 8px 5px 5px 15px;
	color: #343A40;
	font-size: 14px;
}
.first i{
    margin-top: 6px;
	float: right;
	padding-right: 25px;
	background: #fff;
	opacity: 0;
	font-weight: 500;
}
.first:hover i{
	opacity: 1;
}
.second{
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding: 8px 5px 5px 15px;
	color: #343A40;
	font-size: 14px;
}


.second i{
	margin-top: 7px;
	float: right;
	padding-right: 25px;
	background: #fff;
opacity: 0;
	font-weight: 500;
}

.second:hover i{
	opacity: 1;
}


hr{
	margin-top: 310px;
}

footer{
	text-align: center;
	padding-top: 1px
}
u{
	cursor: pointer;
	color: #3729DE;
}
u:hover{
	color: #3729DE;
}


@media only  screen and(max-width: 768px) {
    .left-section, .right-section {
        width: 100%;
        height: auto;
    }
   
    .left-section {
        background-size: contain;
        display: block;
        text-align: center;
        padding: 20px;
    }

    .left-section h2 {
        font-size: 18px;
    }

    .right-section {
        padding: 20px;
    }

    .dropdown {
        float: none;
        text-align: center;
    }

    .dropbtn {
        width: 100%;
    }

    .toggle-menu {
        position: static;
        box-shadow: none;
        min-width: 100%;
    }

    .mysite {
        padding-top: 20px;
        font-size: 16px;
        
    }

    .btn {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .button {
        margin-top: 20px;
    }

    .first, .second {
        width: 100%;
    }

    hr {
        margin-top: 50px;
    }
    

    footer {
        padding-top: 10px;
    }
}
